.edit-project {
    .diff-viewer {
        pre {
            white-space: nowrap !important;
        }
    }
    height: 100%;
    overflow-y: auto;
    &--hidden {
        display: none;
    }
    &__footer {
        display: flex;
    }
}