body {
  background: #f8fafc;
  margin: 0;
}

.fullwidthpop .ant-popconfirm-message-text {
  width: 100%;
}

@font-face {
  font-family: "dank mono";
  src: url("../assets/dankmono.ttf");
  font-weight: normal;
  font-style: normal;
}

a:-webkit-any-link {
  text-decoration: none;
}

.draggable-modal .ant-modal-content {
  width: 100%;
  height: 100%;
}

.ant-modal[role="dialog"] div[tabindex="-1"] {
  width: 100% !important;
  height: 100% !important;
}

.draggable-modal .ant-tabs-content {
  height: 100%;
}

.asciinema-terminal {
  font-size: 12px !important;
}

.app-header-dropdown .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  font-size: 12px !important;
}

.draggable-modal .ant-modal-header {
  border: none;
}

.draggable-modal .detail-tab p {
  font-size: 16px;
  font-weight: bold;
  margin: 3px 0;
}

.draggable-modal .detail-tab .detail-data {
  margin-left: 10px;
  font-weight: normal;
  font-size: 14px;
}
.draggable-modal .detail-tab .detail-data a {
  margin-right: 10px;
}

#terminal .terminal {
  padding-left: 5px;
  padding-top: 5px;
}

.asciinema-player {
  width: 100% !important;
  height: 100% !important;
}

.asciinema-terminal {
  width: 100% !important;
  height: 100% !important;
}

.draggable-modal .ant-tabs .ant-tabs-tab {
  padding: 0 0 6px 0 !important;
}

.ant-tabs-content .ant-tabs-content-top {
  height: 100% !important;
}
.ant-tabs-tabpane-active {
  height: 100% !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
