// * {outline: 1px slateblue solid}

@import "./app.less";
@import "./app-content.less";
@import "./edit-project-modal.less";
@import "./project-container-logs.less";
@import "./dot.less";
@import "./login.less";
@import "./codemirror.less";
@import "./config-modal.less";

body {
  background: #f8fafc;
}

.draggable-modal {
  .ant-modal-header {
    border: none;
  }
  .ant-design-draggable-modal-title {
    font-size: 18px;
    text-align: center;
  }

  .detail-tab {
    p {
      font-size: 16px;
      font-weight: bold;
      margin: 3px 0;
    }

    .detail-data {
      margin-left: 10px;
      font-weight: normal;
      font-size: 14px;

      a {
        margin-right: 10px;
      }
    }
  }
}

.display-none {
  display: none;
}

#terminal {
  .terminal {
    padding-left: 5px;
    padding-top: 5px;
  }
}
